body{
	background-color: #0fa34d;
}

/* Header */

a{
    text-decoration: none;
    color:white;
}

header{
    height: 150px;
    background-color: #005724;
    box-shadow: 0px 7px 30px 5px;
}

.logo{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 150px;
}

.logo img{
    margin-top: 118px;
    width: 300px;
    height: auto;
}

.imgg{
    grid-column: 4;
    grid-row: 1;
}


footer{
    height: 150px;
    background-color: #005724;
    box-shadow: 0px -7px 30px 5px;
}


a{
    place-self: center;
}

.blackjack{
    grid-column: 1;
    grid-row: 1;
    background-color: #0fa34d;
    border-radius: 10px;
    padding: 10% 20%;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.6);
}

.blackjack:active{
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6)
}

.paires{
    grid-column: 2;
    grid-row: 1;
    background-color: #0fa34d;
    border-radius: 10px;
    padding: 10% 20%;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.6);
}

.paires:active{
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6)
}

.simon{
    grid-column: 3;
    grid-row: 1;
    background-color: #0fa34d;
    border-radius: 10px;
    padding: 10% 20%;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.6);
}

.simon:active{
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6)
}

.pixel{
    grid-column: 5;
    grid-row: 1;
    background-color: #0fa34d;
    border-radius: 10px;
    padding: 10% 20%;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.6);
}

.pixel:active{
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6)
}

.click{
    grid-column: 6;
    grid-row: 1;
    background-color: #0fa34d;
    border-radius: 10px;
    padding: 10% 20%;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.6);
}

.click:active{
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6)
}

.cesar{
    grid-column: 7;
    grid-row: 1;
    background-color: #0fa34d;
    border-radius: 10px;
    padding: 10% 20%;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.6);
}

.cesar:active{
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.6)
}

.linkedin{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20px 1fr;
    justify-items: center;
    

}

.linkedin img{
    height: 80px;
    border-radius: 50%;
    margin-top: -25px;
}

.linkedin img:hover{
    margin-top: -35px;
}

.linkedin a{
    font-size: 16pt;
}

.linkedin a:hover{
    color: lightgreen;
}

.tha{
    grid-column: 1;
    grid-row: 2;
    align-self: center;
}


.thb{
    grid-column: 2;
    grid-row: 2;
    align-self: center;
}

.thc{
    grid-column: 3;
    grid-row: 2;
    align-self: center;
}

.thd{
    grid-column: 4;
    grid-row: 2;
    align-self: center;
}

.the{
    grid-column: 5;
    grid-row: 2;
    align-self: center;
}

.thf{
    grid-column: 6;
    grid-row: 2;
    align-self: center;
}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 700px;
    justify-items: center;
}

#message{
    height: 20px;
    width: 100px;
}
#decalage{
    height: 20px;
    width: 100px;
}

#valider{
    height: 20px;
    width: 100px;
}

#message{
    grid-row: 2;
    grid-column: 3;
}

.msg{
    grid-column: 2;
    grid-row: 2;
}

.dcl{
    grid-column: 4;
    grid-row: 2;
}

#valider{
    grid-column: 3;
    grid-row: 3;
}

.resultat{
    grid-column: 3;
    grid-row: 4;
}